body {
  background-color: #f5f5dc;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-custom {
  background-color: #329932;
}

/*color for #logo*/

#logo {
  color: white;
}

.text-brand {
  font-size: 30px;
  font-weight: 900;
}

.descriptor {
  font-size: 20px;
  display: block;
}

#text-bar {
  color: white;
  font-size: 130%;
}

.logo-name {
  margin-left: 10px;
  margin-top: -15px;
}


p {
  margin-top: 20px;
  font-size: 125%;
}

#github {
  margin-right: 10px;
  margin-left: 10px;
}

#social {
  padding-top: 20px;
}

#self-pic {
  padding-top: 40px;
}

#project-1, #project-2 {
  padding-top: 20px;
}

#cli-digital, #file-server, #wine-movies, #street-wise {
  font-weight: 700;
}

#project-1-description, #project-2-description, #project-3-description {
  padding-top: 40px;
}

#file-server, #mySQL, #wine-1, #streetwise1, #streetwise2, #streetwise3 {
  padding-top: 20px;
  width: 95%;
}

#SQL-table, #wine-2, #wine-3, #termux-1, #termux-2, #tmux {
  width: 95%;
  padding-top: 20px;
}

#termux-2 {
  padding-bottom: 20px;
}

/* Contact page CSS */


#connect-with-me-area {
  width: 100%;

  /* Box-model */
  padding: 30px 30px 43px;

  /* Positioning */
  margin-top: 32px;

}

.connect-with-me-header {
  /* Positioning */
  margin-bottom: 15px;

  /* Typography */
  font-size: 25px;
  font-weight: bold;
}

.contact-form {
  width: 100%;

  /* Box-model */
  padding: 45px 10px 25px 31px;

  /* Positioning */
  margin-top: 30px;

}

.contact-form-header,
.port-header {
  /* Positioning */
  margin-bottom: 33px;

  /* Typography */
  font-size: 32px;
  font-weight: bold;
}

#name_input,
#mail_input,
#msg {
  width: 95%;

  /* Box-model */
  height: 30px;

  /* Positioning */
  margin-top: 20px;
  margin-bottom: 15px;
}

#msg {
  /* Box-model */
  height: 200px;

  /* Visual */
  border-color: #bbc;
}

.label-name,
.label-msg,
.label-mail {
  /* Typography */
  font-size: 17px;
  color: #000000;
}

.submit-btn {
  /* Box-model */
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;

  /* Typography */
  color: #fff;

  /* Visual */
  background-color: #4aaaa5;
  border: 0;
}
