body {
  background-color: #f5f5dc;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-custom {
  background-color: #329932;
}

/*color for #logo*/

#logo {
  color: white;
}

.text-brand {
  font-size: 30px;
  font-weight: 900;
}

.descriptor {
  font-size: 20px;
  display: block;
}

#text-bar {
  color: white;
  font-size: 130%;
}

.logo-name {
  margin-left: 10px;
  margin-top: -15px;
}


p {
  margin-top: 20px;
  font-size: 125%;
}

#github {
  margin-right: 10px;
  margin-left: 10px;
}

#social {
  padding-top: 20px;
}

#self-pic {
  padding-top: 40px;
}

#project-1, #project-2 {
  padding-top: 20px;
}

#cli-digital, #file-server, #wine-movies, #street-wise {
  font-weight: 700;
}

#project-1-description, #project-2-description, #project-3-description {
  padding-top: 40px;
}

#file-server, #mySQL, #wine-1, #streetwise1, #streetwise2, #streetwise3 {
  padding-top: 20px;
  width: 95%;
}

#SQL-table, #wine-2, #wine-3, #termux-1, #termux-2, #tmux {
  width: 95%;
  padding-top: 20px;
}

#termux-2 {
  padding-bottom: 20px;
}
